/*
Proyecto: Inglés en Casa
Autor: Pedro de la Cruz
Fecha: 12/4/2018
*/

/*****************************
RESET
*****************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{outline: medium none;text-decoration: none;}
a img{border:none;}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*****************************
PROPIEDADES GENERALES
******************************/
body{margin:0;padding:0;font-family:'source_sans_proregular', Helvetica, sans-serif;font-size: 1em;line-height: 1.5em;}
.container{display:block;width:100%;margin:0 auto;position:relative;max-width:1168px;margin:0 auto;position:relative;}
#wrapper{overflow:hidden;}

/*****************************
PROPIEDADES HEADER
******************************/
#header{height: 440px;	background: linear-gradient(45deg, #94E3DF 0%, #FDFFE0 100%);}
#header .container{height: 440px;position: relative;}
/*#header .container{min-width:auto !important;max-width:100%;box-sizing:border-box;padding-left:30px;padding-right:30px;position:relative;height:90px;}*/
.logo_h{display:block;background:url(../svg/cambridge_header.svg) center center no-repeat;height:48px;width:168px;background-size:168px;text-indent:-99999px;position:absolute;top:0;left: 0;}

#header h1{display: block;width: 464px;height: 80px;background: url(../svg/inglesencasa.svg) top left no-repeat;text-indent: -99999px;position: absolute;left: 10px;bottom: 186px;}
#header h2{font-size: 30px;color:#103E57;max-width: 475px;position: absolute;left: 10px;bottom: 98px;line-height: 36px;}
#header h2 span{font-weight: bold;font-style:italic;}


.menu_header{position:absolute;right:30px;top:20px;padding:0;margin: 0;}
.menu_header li{display: inline-block;}
.menu_header li a{display: inline-block;color:#103E57;font-family: 'museosanscyrl', Helvetica, sans-serif;font-size: 12px;position: relative;letter-spacing: 1px;}
.menu_header li a:after{content:'|';display: inline-block;margin-left: 10px;margin-right: 10px;}
.menu_header li a.over:before{content:'';display: block;height: 3px;background:#FF6B47;width: calc(100% - 22px);position: absolute;bottom: -3px;}
.menu_header li.active a:before{content:'';display: block;height: 3px;background:#FF6B47;width: calc(100% - 22px);position: absolute;bottom: -3px;}
.menu_header li:last-child a:after{display: none;}
.menu_header li:last-child a.over:before{width:100%;}

.ficha_gen{width: 268px;height: 340px;position:absolute;right: 0;bottom: -40px;display: block;box-shadow: 20px 30px 50px 0 rgba(110,181,173,0.50);}
.ficha_gen:before{background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);width: 100%;height: 100%;z-index: 50;position: absolute;content:'';}
.ficha_gen:after{content: '';display: block;width: 24px;height: 24px;background: url(../svg/arrow.svg) top left no-repeat;right: 18px;bottom: 22px;position: absolute;z-index: 51;}
.ficha_gen.f_infantil{right: 300px;background: url(../img/bg_infantil.jpg) center center no-repeat;background-size: cover;}
.ficha_gen.f_primaria{background: url(../img/bg_primaria.jpg) center center no-repeat;background-size: cover;}
.ficha_gen .titul_level{font-family:'peace_sansregular', Helvetica, sans-serif;font-size: 32px;color:#ffffff;position: absolute;left: 32px;bottom: 70px;z-index: 51;}
.ficha_gen .n_recursos{font-size:16px;color:#ffffff;position: absolute;left: 32px;bottom: 44px;z-index: 51; }


/*****************************
PROPIEDADES HOME
******************************/
#content{/*padding-top:48px;*/}

/***** DESTACADOS ******/

.box_destacado{box-sizing:border-box;border: 32px solid #ffffff;margin-top: 130px;}
.carrusel_recursos{background: linear-gradient(45deg, #94E3DF 0%, #FDFFE0 100%);}
.box_destacado h3{font-family:'peace_sansregular', Helvetica, sans-serif;font-size: 40px;color:#FF6B47;line-height: 48px;padding-bottom: 16px;}
.carrusel-destacados{padding-left: 32px;}
.carrusel-destacados .slick-list{padding-top:96px;padding-bottom: 96px; }
.box_recurso{display:block;height:338px;width:268px;box-sizing:border-box;padding:15px;background:#ffffff;margin-right:30px;-webkit-transition: all 0.15s linear;-moz-transition: all 0.15s linear;-o-transition: all 0.15s linear;transition: all 0.15s linear;box-shadow: 20px 30px 50px 0 rgba(110,181,173,0.50);}
.box_recurso.over{}


.body_recurso{background-position:center center;background-repeat:no-repeat;background-size:cover;height:306px;position:relative;border-radius:4px;}
.over_recurso_img{height:368px;width:100%;height:306px;position:absolute;border-radius:4px;top:0px;left:0px;z-index:5;opacity:0.9;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}
.content_recurso{height:368px;width:100%;height:306px;position:absolute;border-radius:4px;top:0px;left:0px;z-index:10;text-align: left;}
.box_recurso.over .over_recurso_img{opacity:0;}

.over_recurso_all{height:368px;width:100%;height:368px;position:absolute;border-radius:4px;top:0px;left:0px;z-index:15;opacity:0;-moz-transition: all 0.15s linear;-o-transition: all 0.15s linear;transition: all 0.15s linear;display:table;}
.over_recurso_all>div{display:table-cell;width:100%;height:368px;vertical-align:middle;position:relative;}
.color_over{position:absolute;width:100%;height:368px;top:0;left:0;opacity:0.8;border-radius:4px;}
.over_recurso_all p{color:#ffffff;font-size:16px;text-align:center !important;vertical-align:middle;text-align:center;}
.over_recurso_all p:before{content:'';display:block;height:70px;background:url(../svg/icon_cards_browser.svg) 47% 50% no-repeat;}
.new_tag{display:block;width:50px;height:50px;color:#171614;font-size:8px;line-height:50px;background-color: #FFD101;border-radius:40px;text-align:center;font-family: 'montserratregular', sans-serif;position:absolute;top:-25px;right:20px;z-index:20;}
.info_recurso{position: absolute;padding: 24px;bottom: 0;left: 0;display: block;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}
.info_recurso h4{font-size: 12px;line-height: 16px;color:#ffffff;font-family:'museosanscyrl', Helvetica, sans-serif;letter-spacing: 1px;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}
.info_recurso h5{line-height: 30px;font-size: 22px;color:#ffffff;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}
.box_recurso.over .info_recurso h4{opacity:0;}
.box_recurso.over .info_recurso h5{opacity:0;}
.box_recurso.over .info_recurso{opacity: 0.9;}
.cat_recurso{color:#ffffff;font-size: 14px;position: absolute;top:18px;left: 24px;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;font-family:'aleoitalic', Helvetica, sans-serif;}
.box_recurso.over .cat_recurso{opacity: 0;}
.type_recurso{position: absolute;right: 18px;top:18px;width: 20px;height: 20px;text-indent: -99999px;background-image: url(../svg/sprite_icon-recursos.svg);background-repeat: none;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}
.box_recurso.over .type_recurso{opacity: 0;}

.type_recurso.audio{background-position: 0px -20px;}
.type_recurso.book{background-position: 20px -20px;}
.type_recurso.imagen{background-position: 40px -20px;}
.type_recurso.video{background-position: 60px -20px;}
.type_recurso.interactivo{background-position: 80px -20px;}


.w_recurso .info_recurso h4{color:#737B80;}
.w_recurso .info_recurso h5{color:#737B80;}
.w_recurso .cat_recurso{color:#737B80;}
.w_recurso .type_recurso.audio{background-position: 0px 0px;}
.w_recurso .type_recurso.book{background-position: 20px 0px;}
.w_recurso .type_recurso.imagen{background-position: 40px 0px;}
.w_recurso .type_recurso.video{background-position: 60px 0px;}
.w_recurso .type_recurso.interactivo{background-position: 80px 0px;}


/***** NUEVOS ******/

.box_nuevos{box-sizing:border-box;border: 32px solid #ffffff;position: relative;}
.contenedor-recursos{background: linear-gradient(45deg, #94E3DF 0%, #FDFFE0 100%);padding-top: 98px;overflow: hidden;}
.contenedor-recursos .container{}
.box_nuevos h3{font-family:'peace_sansregular', Helvetica, sans-serif;font-size: 40px;color:#FF6B47;line-height: 48px;padding-bottom: 16px;}
.contenedor-recursos .item{width: 25%;float: left;margin-bottom: 30px;text-align: center;}
.cover_b_recursos{clear:both;padding-top: 40px;padding-bottom: 70px;}
.banner_recursos{clear:both;border-top: 3px solid rgba(22,84,117,0.1);border-bottom: 3px solid rgba(22,84,117,0.1);text-align: center;padding-top: 43px;padding-bottom: 43px;}
.banner_recursos p{font-size: 22px;line-height: 32px;color:#103E57;}
.banner_recursos strong{font-family:'source_sans_prosemibold', Helvetica, sans-serif;}
.btn_registrate,.more_recursos{display: inline-block;vertical-align: middle;width: 159px;height: 40px;line-height: 40px;text-align: center;color:#ffffff;background:#103E57;font-size: 12px;border-radius: 30px;margin-left: 30px;cursor: pointer;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;font-family:'museosanscyrl', Helvetica, sans-serif;letter-spacing: 1px;}
.btn_registrate:hover,.more_recursos:hover{opacity: 0.9;}
.box_more_r{text-align: center;padding-bottom: 100px;padding-top: 66px;clear: both;}

.block_filters{position:absolute;top:0;right:0;height: 40px;padding-right: 56px;}
.filter_nivel,.filter_tipo,.filter_producto,.search_filter{display:inline-block;}
.search_filter a{display:inline-block;width: 40px;height: 40px;background: url(../svg/sprite_search_lupa.svg) 0px 0px no-repeat;text-indent: -99999px;position: absolute;top:0;right:0;}
.search_filter a:hover{background-position: 0px -40px;}
/*.filter_nivel a,.filter_tipo a,.filter_producto a{display: inline-block;height: 40px;line-height: 40px;padding-left:20px;padding-right: 20px;font-size: 12px;color:#9B9B9B; border:1px solid #9B9B9B;border-radius: 20px;margin-right: 16px;text-align: center;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;}*/
.filter_nivel a, .filter_tipo a, .filter_producto a {display: inline-block;height: 36px;line-height: 36px;padding-left: 40px;padding-right: 16px;font-size: 12px;color: #9B9B9B;border: 2px solid #9B9B9B;border-radius: 20px;margin-right: 16px;text-align: right;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;font-family:'museosanscyrl', Helvetica, sans-serif;font-size: 12px;color: #9B9B9B;letter-spacing: 1px;}
.filter_nivel a{width:112px;}
.filter_tipo a{width:192px;}
.filter_producto a{width: 144px;}
.filter_nivel a span:after,.filter_tipo a span:after,.filter_producto a span:after{content:'';display: inline-block;background-image: url(../svg/select_arrows.svg);background-position: 0px 0px;background-repeat: no-repeat;width:16px;height: 16px;vertical-align: middle;margin-left: 8px;position: relative;top:-2px;}
.filter_nivel a:hover,.filter_tipo a:hover,.filter_producto a:hover{background: #FF6B47;border:2px solid #FF6B47;color:#ffffff;}
.filter_nivel a:hover span:after,.filter_tipo a:hover span:after,.filter_producto a:hover span:after{background-position: 0px -16px;}
.filter_nivel a.active,.filter_tipo a.active,.filter_producto a.active{background: #FF6B47;border:2px solid #FF6B47;color:#ffffff;}
.filter_nivel a.active span:after,.filter_tipo a.active span:after,.filter_producto a.active span:after{background-position: 0px -16px;}

.over_buscador{background:#ffffff;height: 42px;position: absolute;top: 0;right: 0;width: 100%;display: none;}
.cover_serach{overflow:hidden;}
.box_submit_s{position: absolute;width: 40px;height: 40px;right: 0;top:0;}
.box_submit_s input[type=submit]{border: none;-webkit-appearance: none;display:inline-block;width: 40px;height: 40px;background: url(../svg/sprite_search_lupa.svg) 0px -40px no-repeat;text-indent: -99999px;cursor: pointer;}
.box_submit_s input[type=submit]:hover{opacity: 0.9;}
.box_input_s{position: absolute;width: 40px;height: 40px;right:56px;top:0;max-width: 540px;width: 100%;}
.box_input_s input[type=text]{width: 100%;border: none;height: 40px;line-height: 40px;border-bottom:2px solid rgba(148,227,223,0.5) ;font-size: 16px;box-sizing: border-box;padding-left: 10px;padding-right: 10px;color:#4A4A4A;}
.close_search{display: block;width: 32px;height: 32px;background: url(../svg/close.svg) top left no-repeat;text-indent:-99999px;position: absolute;left: -32px;bottom:-5px;cursor: pointer;}

.over_filtros{width:100%;background:#ffffff;box-sizing:border-box;padding-bottom:30px;overflow:hidden;}
.opc_nivel{overflow:hidden;}
.box_ciclo,.box_n_infantil,.box_n_primaria,.box_p_primaria,.box_p_infantil,.box_tipo,.box_formato{float:right;display:inline-block;width:176px;margin-left:16px;}
.box_ciclo h4,.box_n_infantil h4,.box_n_primaria h4,.box_p_primaria h4,.box_p_infantil h4,.box_tipo h4,.box_formato h4{font-family:'museosanscyrl', Helvetica, sans-serif;font-size: 12px;color: #9B9B9B;letter-spacing: 1px;margin-bottom:16px;padding-left:16px;letter-spacing: 1px;}


.over_filtros input{display:none;}
.over_filtros label{display:inline-block;height:32px;background:#ffffff;line-height:32px;color:#4A4A4A;text-align:center;border-radius:30px;margin-bottom:4px;font-size:14px;-webkit-transition: all 0.4s linear;-moz-transition: all 0.4s linear;-o-transition: all 0.4s linear;transition: all 0.4s linear;font-family:'source_sans_prosemibold', Helvetica, sans-serif;text-align:left;padding-left:16px;padding-right:16px;}
.over_filtros label:hover{background:rgba(205,204,205,0.5);color:#4A4A4A;}
.over_filtros label.active{background:#CDCCCD;color:#4A4A4A;}


.over_filtros label span{padding-right:8px;}
.over_filtros label span:before{content:'';display:inline-block;width:20px;height:20px;vertical-align:middle;background-image: url(../svg/sprite_icon-recursos.svg);background-repeat:none;margin-right:8px;margin-top:-5px;}

.over_filtros label span.interactivo:before{background-position: 80px -40px;}
.over_filtros label span.pdf:before{background-position: 20px -40px;}
.over_filtros label span.video:before{background-position: 60px -40px;}
.over_filtros label span.imagen:before{background-position: 40px -40px;}
.over_filtros label span.audio:before{background-position: 0px -40px;}

.over_filtros label:hover span.interactivo:before{background-position: 80px -60px;}
.over_filtros label:hover span.pdf:before{background-position: 20px -60px;}
.over_filtros label:hover span.video:before{background-position: 60px -60px;}
.over_filtros label:hover span.imagen:before{background-position: 40px -60px;}
.over_filtros label:hover span.audio:before{background-position: 0px -60px;}

.over_filtros label.active span.interactivo:before{background-position: 80px -60px;}
.over_filtros label.active span.pdf:before{background-position: 20px -60px;}
.over_filtros label.active span.video:before{background-position: 60px -60px;}
.over_filtros label.active span.imagen:before{background-position: 40px -60px;}
.over_filtros label.active span.audio:before{background-position: 0px -60px;}



/***** NEWSLETTER ******/
.box_newsletter{background: #EBF7F5;border: 32px solid #ffffff;padding-top: 40px;padding-bottom: 40px;}
.box_f_newsletter{}
.box_f_newsletter p{color:#323E48;font-size: 22px;line-height: 32px;}
#form_home{position: absolute;right: 10px;top:50%;margin-top: -20px;}
#form_home label{display: none;}
#form_home input[type=text],#form_home input[type=email]{border:none;width: 238px;height: 40px;line-height: 40px;box-sizing:border-box;padding-left: 10px;padding-right: 10px;margin-right: 8px;font-size: 14px;color:#103E57;} 
#form_home input[type=submit]{display: inline-block;vertical-align: middle;width: 118px;height: 40px;line-height: 40px;text-align: center;color:#ffffff;background:#103E57;font-size: 14px;border-radius: 30px;margin-left: 30px;cursor: pointer;-webkit-transition: all 0.2s linear;-moz-transition: all 0.2s linear;-o-transition: all 0.2s linear;transition: all 0.2s linear;border: none;-webkit-appearance: none;}
#form_home input[type=submit]:hover{opacity: 0.9;}
.row-h-form{display: inline-block;}

/*****************************
PÁGINA DE SEARCH
******************************/
.block_search{background: linear-gradient(45deg, #94E3DF 0%, #FDFFE0 100%);height:300px;position:relative;padding-top:96px;padding-bottom:400px;}
.block_search_page{position:relative;width:100%;max-width:636px;margin:0 auto;padding-top:96px;}
.block_search p{color:#103E57;font-size:22px;line-height:32px;width:100%;max-width:636px;margin:0 auto;text-align:center;}
.block_search p a{text-decoration:underline;color:#103E57;}

/*****************************
LIGHTBOX RECURSOS
******************************/
.light_box_recursos{width:100%;height: 100%;position:fixed;box-sizing: border-box;padding: 48px;top: 0;left: 0;z-index: 80;	background: linear-gradient(45deg, #94E3DF 0%, #FDFFE0 100%);}
.container_pop{width:100%;max-width: 992px;margin: 0 auto;position: relative;padding-top: 32px;padding-bottom: 32px;height: 300px;}
#scroll-pane{width: 100%;height: 100px;overflow: auto;}
.close_pop{display: block;width: 32px;height: 32px;background: url(../svg/close.svg) top left no-repeat;text-indent:-99999px;position: absolute;right: 0px;top: 0;cursor: pointer;}
.content_pop{box-sizing:border-box;padding: 16px;background: #ffffff;box-shadow: 10px 20px 40px 0 rgba(110,181,173,0.50);}
.info_pop{position: relative;}
.title_pop{padding-top: 32px;}
.title_pop h3{font-size: 12px;color:#103E57;font-family: 'museosanscyrl', Helvetica, sans-serif;line-height: 12px;letter-spacing: 1px;}
.title_pop h4{font-family:'source_sans_prosemibold', Helvetica, sans-serif;font-size: 40px;line-height: 50px;color:#103E57;}
.title_pop h4:after{content:'';display: inline-block;width: 32px;height: 32px;background-image: url(../svg/sprite_icon-recursos.svg);background-repeat: none;background-size: 160px;margin-left: 16px;}

.title_pop h4.audio:after{background-position: 0px 0px;}
.title_pop h4.book:after{background-position: 32px -64px;}
.title_pop h4.imagen:after{background-position: 64px -64px;}
.title_pop h4.video:after{background-position: 96px -64px;}
.title_pop h4.interactivo:after{background-position: 128px -64px;}

.share_pop{position: absolute;right: 0;top: 50px;}
.share_pop ul{margin: 0;padding: 0;float: right;}
.share_pop ul li{display: inline-block;width: 36px;height: 36px;margin-right:16px;}
.share_pop ul li:last-child{margin-right: 0;}
.share_pop ul li a{display: block;text-indent: -99999px;width: 36px;height: 36px;border-radius:30px;box-shadow: 5px 10px 30px 0 rgba(110,181,173,0.50);}
.share_pop ul li a.ico_fb_share{background:#ffffff url(../svg/FB.svg) top left no-repeat;background-size:36px;}
.share_pop ul li a.ico_tw_share{background:#ffffff url(../svg/TW.svg) top left no-repeat;background-size:36px;}
.share_pop ul li a.ico_mail_share{background:#ffffff url(../svg/MAIL.svg) top left no-repeat;background-size:36px;}
.share_pop p{display:inline-block;font-size: 14px;color:#103E57;float: left;line-height: 36px;margin-right: 15px;}

.material_complementario{padding-top:43px;padding-bottom: 20px;}
.material_complementario h5{font-size: 16px;line-height: 30px;font-family:'source_sans_prosemibold', Helvetica, sans-serif;font-style: italic;color:#103E57;}
.material_complementario ul{}
.material_complementario ul li{}
.material_complementario ul li a{color:#103E57;font-size: 16px;line-height: 30px;}



/*****************************
CONOCENOS
******************************/
/*.bg_cab_conocenos{height:486px;background:url(../img/DSC_3975@2x.jpg) center 30% no-repeat;background-size:cover;box-sizing:border-box;position:relative;}
.bg_cab_conocenos:before{display: block;width: 100%;height:486px;background: linear-gradient(270deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.7) 100%);position: absolute;content: '';top: 0;}
.bg_cab_conocenos.page_recursos:before{height:324px !important;}
.bg_cab_conocenos.page_recursos{background:url(../img/Stocksy_txp5dc35cccpQh100_Large_985495@2x.jpg) top center no-repeat;height:324px !important;background-size:cover !important;}
.bg_cab_conocenos.page_contact{background:url(../img/Stocksy_txp5dc35cccpQh100_Large_1501636@2x.jpg) center center no-repeat;}
.bg_cab_conocenos h1{color:#ffffff;font-size:44px;line-height:48px;padding-top:80px;}
.body_generico{background:#F2F1F0;}
.box-body-generico{background:#ffffff;box-sizing:border-box;margin-top:-300px;padding-top:100px;padding-bottom:100px;border-bottom:80px solid #f2f1f0;}
.row-txt-box{overflow:hidden;padding-bottom:40px;padding-left:140px;padding-right:140px;}
.row-logo img{max-width:100%;}
.left-txt-box{float:left;width:30%;box-sizing:border-box;}
.right-txt-box{float:right;width:70%;box-sizing:border-box;padding-left:32px;}
.left-txt-box img{max-width:100%;margin-top:51px;}
.right-txt-box h4{font-family:'montserratbold', Helvetica, sans-serif;color:#E1523D;font-size: 18px;line-height: 24px;border-bottom:4px solid #E1523D;padding-bottom:27px;margin-bottom:38px;}
.right-txt-box h4.titul_cup{color:#00A4A1;border-bottom:4px solid #00A4A1;}
.right-txt-box p{font-size:16px;line-height:32px;color:#4A4A4A;margin-bottom:40px;}
.right-txt-box p a{color:#4A4A4A;text-decoration:underline;}
.right-txt-box p strong{font-weight:bold;}
.img-logo-conocenos{margin-bottom:40px;}
.separador-c{height:15px;background:#f2f1f0;margin-bottom:100px;margin-top:60px;}
.ico-tw-c,.ico-fb-c,.ico-yt-c,.ico-inst-c{display:inline-block;width:32px;height:32px;background:red;text-indent:-99999px;margin-right:10px;margin-top:10px;background-size:32px;box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);border-radius:32px;}
.ico-tw-c{background:url(../svg/btn_topbar_tw_on.svg) center center no-repeat;}
.ico-fb-c{background:url(../svg/btn_topbar_fb_on.svg) center center no-repeat;}
.ico-inst-c{background:url(../svg/btn_topbar_int_on.svg) center center no-repeat;}
.ico-yt-c{background:url(../svg/btn_topbar_yt_on.svg) center center no-repeat;}*/

/*****************************
RECURSOS
******************************/
/*.bg_cab_recursos{height:324px;background:url(../img/Stocksy_txp5dc35cccpQh100_Large_985495@2x.jpg) top center no-repeat;background-size:cover !important;box-sizing:border-box;}
.bg_cab_recursos:before{display: block;width: 100%;height: 440px;background: linear-gradient(270deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.7) 100%);position: absolute;content: '';top: 0;}
.bg_cab_recursos h1{color:#ffffff;font-size:44px;line-height:48px;padding-top:80px;}
.body_recursos{background:#F2F1F0;min-height:700px;}
.body_recursos .box-body-recursos{margin-top:-88px !important;}
.generico-recursos h2{max-width: 691px;	color: #393939;font-size:32px;line-height: 48px;text-align: center;margin:0 auto;margin-top:62px;}

.box-body-recursos{box-sizing:border-box;margin-top:-80px;}
.header-filtros{overflow:hidden;}
.header-filtros{height:80px;}
.header-filtros .container{overflow:hidden;background:#E33C10;}
.header-filtros a{display:block;width:calc(33.3333% - 4px);float:left;height:80px;line-height:80px;text-align:center;font-size:18px;color:#FF5427;font-size:18px;position:relative;-webkit-transition: all 0.4s linear;-moz-transition: all 0.4s linear;-o-transition: all 0.4s linear;transition: all 0.4s linear;margin-right:6px; background:#E33C10;}
.header-filtros a:last-child{margin-right:0;}

.header-filtros a span{z-index:10;position:relative;font-family:'montserratbold', Helvetica, sans-serif;font-size:18px;}
.header-filtros a span:before{content:'';display:inline-block !important;width:49px !important;height:49px !important;margin-top:0;margin-bottom:0;background-size:147px !important;vertical-align:middle;margin-right:18px;}
.header-filtros a:hover{background:#FF5427;color:#ffffff !important;}
.header-filtros a.active{background:#FF5427;color:#ffffff !important;}
.body-filtros{background:#FF5427;display:none;border-top:2px solid #E33C10;}


.header-filtros a.enl_estu span:before{background:url(../svg/sprite_icon_filtro.svg) 0px -49px no-repeat;}
.header-filtros a.enl_estu:hover span:before{background-position:0px 0px;}
.header-filtros a.enl_estu.active span:before{background-position:0px 0px;}

.header-filtros a.enl_familias span:before{background:url(../svg/sprite_icon_filtro.svg) -49px -49px no-repeat;}
.header-filtros a.enl_familias:hover span:before{background-position:-49px 0px;}
.header-filtros a.enl_familias.active span:before{background-position:-49px 0px;}

.header-filtros a.enl_profesores span:before{background:url(../svg/sprite_icon_filtro.svg) -98px -49px no-repeat;}
.header-filtros a.enl_profesores:hover span:before{background-position:-98px 0px;}
.header-filtros a.enl_profesores.active span:before{background-position:-98px 0px;}

.box-filtros{overflow:hidden; box-sizing:border-box; padding:30px 15px 49px 15px;position:relative;}
.colum-box-2{-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;text-align:center;}
.colum-box-1{-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;text-align:center;}

.logo_ceq{width:230px;height:20px;left:0px;background:url(../svg/CEQ_logo_Ranged_White.svg) top left no-repeat;display:block;margin-top:30px;}


.filter{display:block; float:left; margin: 0 15px 25px 25px;position:relative;}
.filter:last-child {margin-right:0px;}
.filter h4{color:#ffffff;font-size:14px;margin-bottom:9px;font-family: 'montserratregular', sans-serif;text-align:center;}
.filter input{display:none;}
.filter label{display:inline-block;height:32px;width:210px;background:#E33C10;line-height:32px;color:#ffffff;text-align:center;border-radius:4px;margin-bottom:4px;font-size:14px;-webkit-transition: all 0.4s linear;-moz-transition: all 0.4s linear;-o-transition: all 0.4s linear;transition: all 0.4s linear;}
.filter label:hover{background:#ffffff;color:#E33C10;}
.filter label.active{background:#ffffff;color:#E33C10;}

.filter.filter-cambridgequalifications{width:calc(45% - 40px);padding-bottom:10px;}
.filter.filter-cambridgequalifications label{width:210px;}
.filter.filter-abilities {width:calc(27% - 40px);}
.filter.filter-other {width:calc(27% - 40px);}

.clear_all_filters{position:absolute;bottom:20px;display:block;height:32px;width:164px;line-height:29px;color:#ffffff;text-align:center;font-size:12px;-webkit-transition: all 0.4s linear;-moz-transition: all 0.4s linear;-o-transition: all 0.4s linear;transition: all 0.4s linear;box-sizing:border-box;border: 2px solid #FFFFFE;font-family: 'montserratbold', sans-serif;right:0;left:0;margin:0 auto;}
.clear_all_filters span:before{content:'';display:inline-block;width:16px;height:16px;background:url(../svg/cancel_filters.svg) center center no-repeat;vertical-align:middle;margin-right:8px;position:relative;top:-2px;}


.contenedor-recursos{padding-top:54px;/*overflow:hidden;}
.contenedor-recursos .item{width:33.3333%;float:left;margin-bottom:30px;text-align:center;}
.contenedor-recursos .item .box_recurso{width:95%;max-width:360px;display:inline-block;margin-right:0;}
.contenedor-recursos .item:nth-child(3n+0) {text-align:right;}
.contenedor-recursos .item:nth-child(3n+1) {text-align:left;}

.more-box-recursos{padding-top:12px;padding-bottom:125px;}
.more-box-recursos h4{display:none;text-align:center;font-size:20px;}


.subfilter-teacher{border-bottom:2px solid #E33C10;padding-bottom:7px;padding-top:24px;text-align:center;box-sizing:border-box;padding-left:10px;padding-right:10px;}
.subfilter-teacher.sin-filtros{border-bottom:none;}
.subfilter-teacher p{color:#ffffff;font-size:14px;display:inline-block;line-height:40px;margin-right:31px;position:relative;top:-13px;font-family:'montserratregular', Helvetica, sans-serif;}
.opc-f-teacher{display:inline-block;height: 40px;width:812px;border-radius:20px;background-color:#E33C10;position:relative;overflow:hidden;}
.opc-f-teacher a{color: #FFFFFF;font-family:'montserratregular', Helvetica, sans-serif;font-size: 14px;line-height: 40px;display:inline-block;padding-left:32px;padding-right:32px;border-radius:20px;-webkit-transition: all 0.4s linear;-moz-transition: all 0.4s linear;-o-transition: all 0.4s linear;transition: all 0.4s linear;}
.opc-f-teacher a:hover,.opc-f-teacher a.active{background:#ffffff;color:#E33C10;}
.opc-f-teacher a:first-child{float:left;}
.opc-f-teacher a:last-child{float:right;}

.header_f_mobile{display:none;background:#E33C10;}
.select_filter{height:64px;background:#FF5427;text-align:center;}
.select_filter a{color:#ffffff;font-size:14px;font-family:'montserratbold', Helvetica, sans-serif;margin-top:17px;display:inline-block;}
.select_filter a:after{content:'';height:10px;display:block;width:10px;margin:0 auto;background:url(../svg/icon_topbar_arrow_w.svg) bottom center no-repeat;}
.select_filter a.active:after{background:url(../svg/icon_topbar_arrow_w_c.svg) bottom center no-repeat;}*/


/*****************************
CONTACTO
******************************/
/*.cont_contacto{min-height:1000px;overflow:hidden;box-sizing:border-box;padding:0px 95px;margin-top:-50px;}
.contact_filter{overflow:hidden;height:176px;background:#ff5427;margin-top:0 !important;}
.txt_contacto{float:left;width:30%;text-align:center;}
.txt_contacto h4{text-align:center;color: #FAB200;font-family:'montserratbold', Helvetica, sans-serif;font-size: 18px;line-height:24px;max-width:190px;margin:0 auto;}
.txt_contacto img{max-width:100%;margin-top:40px;margin-bottom:16px;}
.body_contacto{float:left;width:70%;box-sizing:border-box;padding-left:20px;}

.titul_c{max-width: 721px;color:#000000;font-size: 32px;line-height: 48px;	text-align: center;margin:0 auto;padding-top:20px;}
.titul_c + p{text-align: center;margin-top:56px;margin-bottom:56px;color:#4A4A4A;font-size: 18px;line-height: 32px;}
.box_enl_contact{max-width:671px;margin:0 auto;text-align:center;}
.box_enl_contact a{display:inline-block;margin-left:89px;}
.box_enl_contact a:first-child{margin-left:0;}
.box_enl_contact a span{color: #FAB200;font-family:'montserratbold', Helvetica, sans-serif;font-size: 16px;text-align: center;display:inline-block;margin-top:16px;width:100%;}
.box_enl_contact a span:before{content:'';width:90px;height:90px;margin:0 auto;display:block;margin-bottom:12px;}
.box_enl_contact a.enl_estu span:before{background:url(../svg/icon_estudiantes_a.svg) center center no-repeat;background-size:90px;}
.box_enl_contact a.enl_fami span:before{background:url(../svg/icon_familias_a.svg) center center no-repeat;background-size:90px;}
.box_enl_contact a.enl_prof span:before{background:url(../svg/icon_profesores_a.svg) center center no-repeat;background-size:90px;}


.form-contact{}
.form-contact .form-heading {color:#FAB200;font-family:'montserratbold', Helvetica, sans-serif;line-height: 24px;border-bottom:4px solid #FAB200;padding-bottom:22px;margin-bottom:32px;margin-top:52px; text-transform: uppercase;}
.form-contact input[type=text],.form-contact input[type=email]{height:48px;max-width: 458px;border: 1px solid #D8D8D8;line-height:48px;float:right;box-sizing:border-box;padding-left:48px;padding-right:48px;color:#4A4A4A;font-size:16px;margin-bottom:16px;-webkit-appearance:none;width:calc( 100% - 230px);float:right;}
.form-contact input[type=text].error,.form-contact input[type=email].error{border: 1px solid #ff0000;}
.form-contact .cover-select{height:48px;max-width:458px;line-height:48px;float:right;margin-bottom:16px;overflow:hidden;border-radius:4px;background:#F2F1F0 url(../svg/symbol_select.svg) 95% 50% no-repeat;box-sizing:border-box;width:calc( 100% - 230px);float:right;}
.form-contact .cover-select.error{border: 1px solid #ff0000;}
.form-contact select{-webkit-appearance:none;width:110%;height:48px;display:block;box-sizing:border-box;padding-left:48px;padding-right:48px;color:#4A4A4A;font-size:16px;border:none;background-color:transparent;}
.form-contact input[type=text]:focus,.form-contact input[type=email]:focus{border: 1px solid #FAB200;}
.form-group{overflow:hidden;}
.form-group > label{color:#4A4A4A;font-size: 16px;height:48px;width:230px;float:left;line-height:48px;}
.form-group > label p{display:inline-block;vertical-align:middle;}
.form-group > label.label-pregunta{width:100%;float:inherit;}
.form-group span.hint-required{color: #FAB200;}
.form-group>.recaptcha{max-width:458px;float:right;margin-bottom:50px;width:calc( 100% - 230px);float:right;}
.form-group>.checkbox{max-width:458px;float:right;margin-bottom: 18px;padding-left: 30px;color:#4A4A4A;padding-left:30px;box-sizing:border-box;position:relative;width:calc( 100% - 230px);float:right;}
.form-group>.checkbox a{color:#4A4A4A;text-decoration:underline;}
.multi-checkbox{overflow:hidden;padding-bottom:54px;}
.multi-checkbox .checkbox {float:left;padding-bottom:16px;color:#4A4A4A;font-size:16px;padding-left:30px;box-sizing:border-box;position:relative;}
.multi-checkbox.multi-checkbox-50 .checkbox {width:50%;}
.multi-checkbox.multi-checkbox-25 .checkbox {width:25%;}
.label-pregunta{line-height:24px !important;padding-bottom:16px;height:auto !important;display:block;}
.textarea-group label{display:none;}
.textarea-group textarea{width:100%;height: 191px;border: 1px solid #D8D8D8;box-sizing:border-box;padding:40px;font-family:'source_sans_proregular', Helvetica, sans-serif;font-size:16px;line-height:32px;}
.textarea-group textarea.error{border: 1px solid #ff0000;}
.txt-required{float:right;display:inline-block;font-size: 12px;	line-height: 20px;color:#4A4A4A;}
.txt-required span{color:#FAB200;}

.form-contact button{display:block;height:48px;max-width:260px;background-color: #FF5427;line-height:48px;text-align:center;color:#ffffff;border:none;-webkit-appearance:none;font-size:14px;width:100%;font-family:'montserratregular', Helvetica, sans-serif;cursor:pointer;-webkit-transition: all 0.4s linear;-moz-transition: all 0.4s linear;-o-transition: all 0.4s linear;transition: all 0.4s linear;}
.form-contact button:hover{opacity:0.9;}
.errores{font-size:14px;color:red;padding-top:40px;padding-bottom:40px;}

.content-gracias{text-align:center;min-height: 1000px;}
.content-gracias img{max-width:100%;margin-bottom:48px;}
.content-gracias h4{max-width: 656px;color: #000000;font-size: 32px;line-height: 48px;margin:0 auto;margin-bottom:32px;}
.content-gracias p{max-width: 575px;color: #4A4A4A;font-size: 18px;line-height: 32px;margin:0 auto;margin-bottom:64px;}
.content-gracias a{	height: 48px;width: 260px;background-color: #FF5427;margin:0 auto;color:#ffffff;line-height:48px;font-family:'montserratregular', Helvetica, sans-serif;font-size: 14px;display:block;-webkit-transition: all 0.4s linear;-moz-transition: all 0.4s linear;-o-transition: all 0.4s linear;transition: all 0.4s linear;}
.content-gracias a:hover{opacity:0.9;}*/

/*****************************
PROPIEDADES AVISO LEGAL
******************************/
.cont_aviso_legal{box-sizing: border-box; margin-top: -50px;min-height: 1000px;overflow: hidden;padding: 0 95px;}
.cont_aviso_legal h2{font-family:'montserratregular', Helvetica, sans-serif;color:#E1523D;font-size: 18px;line-height: 24px;border-bottom:4px solid #E1523D;padding-bottom:27px;margin-bottom:38px;margin-top:40px;}
.cont_aviso_legal h3{font-family:'montserratregular', Helvetica, sans-serif;color:#E1523D;font-size: 16px;line-height: 24px;margin-bottom:20px;margin-top:40px;}
.cont_aviso_legal p{font-size:16px;line-height:24px;color:#4A4A4A;margin-bottom:20px;}
.cont_aviso_legal p a{color:#4A4A4A;text-decoration:underline;}
.cont_aviso_legal p strong{font-weight:bold;}
.cont_aviso_legal ul{display:block;padding-left:40px;margin-bottom:20px;}
.cont_aviso_legal ul li{font-size:16px;line-height:24px;color:#4A4A4A;margin-bottom:10px;list-style:disc;}

/*****************************
PROPIEDADES COOKIES
******************************/

.block-cookies{background:rgba(255,84,39,0.95);position:fixed;bottom:0;width:100%;padding-top:20px;padding-bottom:20px;z-index:300;display:none;}
.block-cookies .container{position:relative;max-width:1024px;}
.block-cookies h2{color:#ffffff;width:80%;margin:0 auto;text-align:center;margin-bottom:20px;font-family:'sofia-pro-black', Helvetica, sans-serif;}
.block-cookies p{color:#ffffff;width:70%;margin:0 auto;text-align:center;}
.block-cookies p a{color:#ffffff;text-decoration:none;font-family:'sofia-pro-black', Helvetica, sans-serif;text-decoration:underline;}
.close_c{position:absolute;right:0;top:0;display:inline-block;color:#ffffff;}
.close_c:before{content: "c";font-family:'icomoon', Helvetica, sans-serif;-moz-osx-font-smoothing: grayscale;font-style: normal;font-weight: normal;line-height: 1;position: relative;font-size:28px;}
.close_c:hover{color:#ffffff;}
.btn-accept{background:#E33C10;color:#ffffff;height:30px;display:block;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius:15px;width:140px;margin:0 auto;line-height:30px;text-align:center;margin-top:20px;}
.btn-accept:hover{color:#ffffff;}

/*****************************
PROPIEDADES FOOTER
******************************/
#footer{background:#ffffff;}
#footer .container{box-sizing:border-box;padding-top:63px;overflow:hidden;min-width:auto !important;max-width:100% !important;}
.colum_logo_footer{float:left;width:40%;}
.colum_footer{float:left;width:20%;}
.colum_footer h3,.colum_logo_footer h3{color:#9B9B9B;font-family:'museosanscyrl', Helvetica, sans-serif;font-size: 13px;line-height: 26px;margin-bottom:32px;letter-spacing: 1px;}
.colum_footer ul a{color: #2E2E2E;font-size: 14px;line-height: 31px;font-family:'source_sans_prosemibold', Helvetica, sans-serif;}
.colum_footer ul a:hover{opacity:0.9;}


.logo_footer{display:block;text-indent:-99999px;background:url(../svg/CUP_Logo.svg) center center no-repeat;height:47px;width:179px;background-size:179px;margin-left:30px;}

.inf_footer{clear:both;padding-top:85px;}
.inf_footer p{padding-top:16px;padding-bottom:16px;color:#393939;font-size:12px;line-height:31px;}
.inf_footer p span{display:block;padding-left:30px;}
.inf_footer p:before{content:'';display:block;height:2px;background:#4A4A4A;margin-bottom:16px;}

.rrss_footer{margin:0; padding:0;}
.rrss_footer li{display: inline-block;margin-right: 10px;}
.rrss_footer li:last-child{margin-right: 0;}
.rrss_footer a{display: inline-block;width: 36px;height: 36px;text-indent:-99999px;background-image: url(../svg/sprite_rrss.svg);background-repeat: none;}
.rrss_footer a.ico-fb{background-position: 0px 0px;}
.rrss_footer a.ico-tw{background-position: -36px 0px;}
.rrss_footer a.ico-inst{background-position: -72px 0px;}
.rrss_footer a.ico-yt{background-position: -108px 0px;}

.rrss_footer a.ico-fb:hover{background-position: 0px -36px;}
.rrss_footer a.ico-tw:hover{background-position: -36px -36px;}
.rrss_footer a.ico-inst:hover{background-position: -72px -36px;}
.rrss_footer a.ico-yt:hover{background-position: -108px -36px;}

.bottom_footer{clear: both;padding-top: 94px;padding-bottom: 40px;}
.bottom_footer p{color:#2E2E2E;font-size: 12px;text-align: center;}
.bottom_footer p a{color:#2E2E2E;}
.bottom_footer p a:before{content:'|';display: inline-block;margin-left:5px;margin-right: 5px;}


/**********************************
PROPIEDADES DE CUSTOM CHECKBOX BUTTON
**********************************/
#foo:checked::before,
input[type="checkbox"] {
    position:absolute;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
}

#foo:checked,
.form-contact input[type="checkbox"] + label::before {
    content:'';
    cursor:pointer;
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../img/sprite_checkbox.png) no-repeat;
    background-position:0px 0px;
    margin-left:-30px;
    background-size:16px;
	position:relative;
	top:3px;
	margin-right:10px;
}

#foo:checked,
.form-contact input[type="checkbox"].error + label::before {
    content:'';
    cursor:pointer;
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../img/sprite_checkbox.png) no-repeat;
    background-position:0px -32px;
    margin-left:-30px;
    background-size:16px;
	position:relative;
	top:3px;
	margin-right:10px;
}

.form-contact input[type="checkbox"]:checked + label::before {
    content:'';
    cursor:pointer;
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../img/sprite_checkbox.png) no-repeat;
    background-position:0px -16px;
    margin-left:-30px;
    background-size:16px;
	position:relative;
	top:3px;
	margin-right:10px;
}


/*****************************
PROPIEDADES ESPECIALES
******************************/
a img{border:0;}
.clear{clear:both;}
.hide,.hide-page{display:none !important;}

*{outline: none !important;}
*:focus{outline: none !important;}
.overflow-hidden{overflow:hidden;}
ul.bxslider {margin: 0;padding: 0;}
.bx-wrapper {border:none !important;box-shadow:none !important;}
.bx-wrapper .bx-viewport{-moz-box-shadow: 0;-webkit-box-shadow: 0;box-shadow: 0 0 0 0;border: 0;left: 0;background: #fff;}
.bx-wrapper .bx-controls-direction a{z-index:99 !important;}
.helper {display: inline-block;height: 100%;vertical-align: middle;}
.helper_bottom {display: inline-block;height: 100%;vertical-align: bottom;}

.desktop_opc{display:block;}
.mobile_opc{display:none;}
input{-webkit-border-radius:0; border-radius:0;}
textarea{-webkit-border-radius:0; border-radius:0;}
input, textarea, select {-webkit-appearance: none;}
.extend_menu_mob{display:none;}
.helper{display: inline-block;height:100%;vertical-align:middle;}
.helper_bottom{display: inline-block;height:100%;vertical-align:bottom;}
.is-device *[hidden-device] {display: none;}

/*Propiedades Placeholder*/
#form-login input[type=text]::-webkit-input-placeholder,#form-login input[type=password]::-webkit-input-placeholder,#form-forgot-password input[type=text]::-webkit-input-placeholder{color:#c6c6c6 !important;opacity: 1 !important;}
#form-login input[type=text]:-moz-placeholder,#form-login input[type=password]:-moz-placeholder,#form-forgot-password input[type=text]:-moz-placeholder{color:#c6c6c6 !important;opacity: 1 !important;}
#form-login input[type=text]::-moz-placeholder,#form-login input[type=password]::-moz-placeholder,#form-forgot-password input[type=text]::-moz-placeholder{color:#c6c6c6 !important;opacity: 1 !important;}
#form-login input[type=text]:-ms-input-placeholder#form-login input[type=password]:-ms-input-placeholder,#form-forgot-password input[type=text]:-ms-input-placeholder{color:#c6c6c6 !important;opacity: 1 !important;}



/*****************************
WEBKIT HACKS
******************************/
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
}

/*****************************
MEDIA QUERIES
******************************/


@media screen and (max-width: 1920px) {
}


@media screen and (max-width: 1440px) {
}


@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1140px) {
}


@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1023px) {


}

@media screen and (max-width: 900px) {
}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 640px) {

}


@media screen and (max-width: 480px) {
}



@media screen and (max-width: 320px) {

}
